-- CreateEnum
CREATE TYPE "CartOrderStatus" AS ENUM ('PENDING', 'CONFIRMED', 'DENIED', 'SENT');

-- CreateEnum
CREATE TYPE "ExternalSyncStatus" AS ENUM ('NOT_SENT', 'SENT', 'FAILED');

-- CreateEnum
CREATE TYPE "FulfillmentMethod" AS ENUM ('DINE_IN', 'PICKUP');

-- CreateEnum
CREATE TYPE "OrderStatus" AS ENUM ('PENDING', 'CONFIRMED', 'COMPLETED', 'NEEDS_INFO', 'REJECTED', 'CANCELLED', 'DELIVERED');

-- CreateEnum
CREATE TYPE "ProductAvailabilityStatus" AS ENUM ('AVAILABLE', 'OUT_OF_STOCK', 'HIDDEN');

-- CreateEnum
CREATE TYPE "UserRole" AS ENUM ('OWNER', 'BAKER', 'ASSISTANT');

-- CreateTable
CREATE TABLE "activity_log" (
    "id" TEXT NOT NULL,
    "user_id" TEXT,
    "user_name" TEXT NOT NULL,
    "action" TEXT NOT NULL,
    "entity_type" TEXT NOT NULL,
    "entity_id" TEXT NOT NULL,
    "metadata" JSONB,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "activity_log_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "cart_orders" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "customer_name" TEXT NOT NULL,
    "customer_phone" TEXT NOT NULL,
    "fulfillment_method" "FulfillmentMethod" NOT NULL,
    "items" JSONB NOT NULL,
    "subtotal" DOUBLE PRECISION NOT NULL,
    "total" DOUBLE PRECISION NOT NULL,
    "receipt_image_url" TEXT NOT NULL,
    "status" "CartOrderStatus" NOT NULL DEFAULT 'PENDING',
    "external_sync_status" "ExternalSyncStatus" NOT NULL DEFAULT 'NOT_SENT',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "cart_orders_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "orders" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "phone" TEXT NOT NULL,
    "email" TEXT,
    "event_type" TEXT NOT NULL,
    "event_date" TEXT NOT NULL,
    "guest_count" TEXT NOT NULL,
    "selected_items" JSONB NOT NULL,
    "notes" TEXT,
    "image_urls" JSONB NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "assigned_to" TEXT,
    "cake_details" JSONB,
    "delivery_time" TEXT,
    "status" "OrderStatus" NOT NULL DEFAULT 'PENDING',
    "internal_note" TEXT,
    "status_log" JSONB NOT NULL DEFAULT '[]',
    "agreed_price" DOUBLE PRECISION,
    "delivery_method" TEXT,
    "deposit_amount" DOUBLE PRECISION,
    "payment_status" TEXT NOT NULL DEFAULT 'PENDING',

    CONSTRAINT "orders_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "playing_with_neon" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,
    "value" REAL,

    CONSTRAINT "playing_with_neon_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "products" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "category" TEXT NOT NULL,
    "image_url" TEXT NOT NULL,
    "price" DOUBLE PRECISION,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "availability_status" "ProductAvailabilityStatus" NOT NULL DEFAULT 'AVAILABLE',

    CONSTRAINT "products_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "users" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "password_hash" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "role" "UserRole" NOT NULL DEFAULT 'BAKER',
    "active" BOOLEAN NOT NULL DEFAULT true,
    "last_login_at" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "failed_login_attempts" INTEGER NOT NULL DEFAULT 0,
    "locked_until" TIMESTAMP(3),
    "fcm_token" TEXT,

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "activity_log_created_at_idx" ON "activity_log"("created_at" ASC);

-- CreateIndex
CREATE INDEX "activity_log_entity_type_entity_id_idx" ON "activity_log"("entity_type" ASC, "entity_id" ASC);

-- CreateIndex
CREATE INDEX "activity_log_user_id_idx" ON "activity_log"("user_id" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "cart_orders_code_key" ON "cart_orders"("code" ASC);

-- CreateIndex
CREATE INDEX "cart_orders_created_at_idx" ON "cart_orders"("created_at" ASC);

-- CreateIndex
CREATE INDEX "cart_orders_status_idx" ON "cart_orders"("status" ASC);

-- CreateIndex
CREATE INDEX "orders_created_at_idx" ON "orders"("created_at" ASC);

-- CreateIndex
CREATE INDEX "orders_status_idx" ON "orders"("status" ASC);

-- CreateIndex
CREATE INDEX "products_availability_status_idx" ON "products"("availability_status" ASC);

-- CreateIndex
CREATE INDEX "products_category_idx" ON "products"("category" ASC);

-- CreateIndex
CREATE INDEX "users_email_idx" ON "users"("email" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "users_email_key" ON "users"("email" ASC);

-- AddForeignKey
ALTER TABLE "activity_log" ADD CONSTRAINT "activity_log_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

